{% extends 'Home.html' %}

{% block title %}BOT Talk{% endblock title %}

{% block body %}<header class="header1 pt-5 m-5">
    <div class="container h-1001">
        <div class="row h-1001 align-items-center">
            <div class="col-12 text-center">

                <label class="form-label pb-3">
                    <h2><b>ASK ME!</b></h2>
                </label>
                <div class="hyx">
                    <input class="form-control p-3 m-3 border-radius=52px" type="text" placeholder="Ask..."
                        aria-label="default input example">
                </div>
                <form>
                    <button class="btn btn-outline-danger p-2.5 m-3" type="submit" formaction="#">START</button>
                </form>

            </div>
        </div>
    </div>

</header>{% endblock body %}



<label for="exampleDataList" class="form-label">ASK ME</label>
<input class="form-control" placeholder="Type...">