{% extends 'Home.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<!-- Starting of header section  -->
<header class="header">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">

        <h1 class="font"><b>Welcome to the Consultants</b></h1>

        <p class="size">Our website is dedicated to create a personal mental health assistant so as to <br>provide
          people with a raw feedback
          of their mental state.It will provide you with basic info of what you can do to improve your mental health.
        </p>

        <button type="button" class="btn btn-warning p-2.5 m-3" data-target = "#mymodel" data-toggle = "modal">START</button>
        
      </div>
    </div>
  </div>

</header>


<!-- End of header section -->

{% endblock body %}